<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177322625777-9009mhm9l91t0c981c54d4jogsm7tc48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177322625777-9009mhm9l91t0c981c54d4jogsm7tc48</string>
	<key>API_KEY</key>
	<string>AIzaSyA7BAISqGC1VgF4DPl80GtQ2DejYpyYZr0</string>
	<key>GCM_SENDER_ID</key>
	<string>177322625777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekanwe.ekanwe</string>
	<key>PROJECT_ID</key>
	<string>ekanwe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ekanwe-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177322625777:ios:1214b5d8781ba413b13750</string>
</dict>
</plist>